.wrapper{
  width: 99%;
  height: 37%;
  margin-top: 20px;
}

.wrapper_video{
  width: 99%;
  height: 100%;
  margin-top: 20px;
}

#video-background{
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.wrapper1{
  width: 99%;
  height: 100%;
  margin-top: 20px;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
}

.wrapper2{
  width: 99%;
  height: 100%;
  margin-top: 20px;
  background-image: url(background2.jpg);
  background-repeat: no-repeat;

}


.button_left {
  background-color: transparent;
  background-repeat:no-repeat;
  height: 50px;
  width: 50px;
  font-size: 20px;
  color: darkslategray;
  border: .5px solid rgb(35, 58, 58);
  cursor:pointer;
  overflow: hidden;
  outline:none;
  display: inline-block;
  margin-top: 15%;
  border-radius: 10px;
}

.button_right {
  background-color: Transparent;
  background-repeat:no-repeat;
  height: 50px;
  width: 50px;
  font-size: 20px;
  color: darkslategray;
  border: .5px solid darkslategray;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  display: inline-block;
  margin-top: 15%;
  margin-left: 86%;
  border-radius: 10px;
}